/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-size:300px;
  font-family:sans-serif;
  /* text-shadow: 2px 2px rgba(0,0,0,.1); */
  color:black;

}


video{
  position:relative;
z-index:100;
}
div{

  position:absolute;
  top:100px
  overflow:hidden;
  width: 200px;
}

#container{
  foreground-color
  overflow:hidden;
}
span{
  /* position:relative; */
  position:fixed;
}

#leftInstructions{
  font-style:italic;
}
#rightInstructions{
  font-style:italic;
}
