
* {
  padding: 0;
  margin: 0;
}
canvas{
  border-radius: 0px;
  display:block;
}
img {
  /* filter: hue-rotate(90deg);
filter:drop-shadow(4px 4px 6px lightgrey); */
user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
